.normal_pop{width: 440px;height: 250px;background: #fff;border-radius: 8px;text-align: center;display: none;}
.normal_pop h3{height: 50px;padding-left: 30px;color: #666;font-size: 18px;font-weight: normal;line-height: 50px;border-bottom: 1px solid #eaeaea;text-align: left;}
.normal_pop i{display: block;width: 130px;height: 40px;line-height: 40px;background: #ff366f;border-radius: 4px;color: #fff;margin: auto;font-size: 16px;position:static;cursor: pointer;}










